* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main: hsl(205, 75%, 50%);
  --dark: #404040;
  --highlight: hsl(55, 100%, 50%);
  --content-width: 800px;
  font-size: 16px;
  font-family: monospace;
  color: var(--dark);
  background: white;
}

::selection {
  color: var(--dark);
  background: var(--highlight);
}

:first-child { margin-block-start: 0 !important; }
:last-child { margin-block-end: 0 !important; }

body {
  display: flex;
  flex-direction: column;
  min-width: 380px;
  min-height: 100vh;
  min-height: 100svh;
}

section {
  max-width: var(--content-width);
  margin-inline: auto;
}

header {
  padding: 0.5rem 1rem;
  color: white;
  background: var(--main);
}

main {
  flex: 1;
  padding: 1rem;
}

footer {
  padding: 1rem;
  color: white;
  background: var(--dark);
}

:is(section, h1, h2, p, hr, figure, table):not(:only-child) {
  margin-block: 2rem;
}

h1, h2, p {
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

hr {
  height: 2px;
  background: var(--dark);
  border: none;
  outline: none;
}

a {
  color: inherit;
}

figure {
  width: 100%;
  overflow-x: auto;
}

table, th, td {
  border: 1px solid var(--dark);
}

table {
  min-width: 100%;
  border-collapse: collapse;
}

thead {
  color: white;
  background: var(--dark);
}

th, td {
  padding: 0.25rem;
  text-align: center;
}