{{#stats}}

<figure>
  <table>
    <tbody>
      <tr>
        <th colspan="2">Hatchet</th>
      </tr>

      <tr>
        <td>Attempts</td>
        <td>{{hatchet.overall.attempts}}</td>
      </tr>

      <tr>
        <td>Total Score</td>
        <td>{{hatchet.overall.totalScore}}</td>
      </tr>

      <tr>
        <td>Score Per Axe</td>
        <td>{{hatchet.overall.scorePerAxe}}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="2">Big Axe</th>
      </tr>

      <tr>
        <td>Attempts</td>
        <td>{{bigAxe.overall.attempts}}</td>
      </tr>

      <tr>
        <td>Total Score</td>
        <td>{{bigAxe.overall.totalScore}}</td>
      </tr>

      <tr>
        <td>Score Per Axe</td>
        <td>{{bigAxe.overall.scorePerAxe}}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="2">Combined</th>
      </tr>

      <tr>
        <td>Attempts</td>
        <td>{{overall.attempts}}</td>
      </tr>

      <tr>
        <td>Total Score</td>
        <td>{{overall.totalScore}}</td>
      </tr>

      <tr>
        <td>Score Per Axe</td>
        <td>{{overall.scorePerAxe}}</td>
      </tr>
    </tbody>
  </table>
</figure>

{{/stats}}