<figure>
  <table>
    <tbody>
      <tr>
        <th colspan="2">Overall</th>
      </tr>

      <tr>
        <td>Attempts</td>
        <td>{{overall.attempts}}</td>
      </tr>

      <tr>
        <td>Total Score</td>
        <td>{{overall.totalScore}}</td>
      </tr>

      <tr>
        <td>Score Per Axe</td>
        <td>{{overall.scorePerAxe}}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="2">Hatchet</th>
      </tr>

      <tr>
        <td>Attempts</td>
        <td>{{hatchet.attempts}}</td>
      </tr>

      <tr>
        <td>Total Score</td>
        <td>{{hatchet.totalScore}}</td>
      </tr>

      <tr>
        <td>Score Per Axe</td>
        <td>{{hatchet.scorePerAxe}}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="2">Big Axe</th>
      </tr>

      <tr>
        <td>Attempts</td>
        <td>{{bigAxe.attempts}}</td>
      </tr>

      <tr>
        <td>Total Score</td>
        <td>{{bigAxe.totalScore}}</td>
      </tr>

      <tr>
        <td>Score Per Axe</td>
        <td>{{bigAxe.scorePerAxe}}</td>
      </tr>
    </tbody>
  </table>
</figure>