{{#stats}}

<figure>
  <table>
    <thead>
      <tr>
        <th colspan="2"></th>
        <th>Attempts</th>
        <th>Total Score</th>
        <th>Score Per Axe</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="2">Hatchet</td>
        <td>Bullseye</td>
        <td>{{hatchet.bullseye.attempts}}</td>
        <td>{{hatchet.bullseye.totalScore}}</td>
        <td>{{hatchet.bullseye.scorePerAxe}}</td>
      </tr>

      <tr>
        <td>Clutch</td>
        <td>{{hatchet.clutch.attempts}}</td>
        <td>{{hatchet.clutch.totalScore}}</td>
        <td>{{hatchet.clutch.scorePerAxe}}</td>
      </tr>
    </tbody>
  </table>
</figure>

<figure>
  <table>
    <tbody>
      <tr>
        <th colspan="4">Hatchet</th>
      </tr>

      <tr>
        <th colspan="2">Bullseye</th>
        <th colspan="2">Clutch</th>
      </tr>

      <tr>
        <td>{{hatchet.bullseye.attempts}}</td>
        <td colspan="2">Attempts</td>
        <td>{{hatchet.clutch.attempts}}</td>
      </tr>

      <tr>
        <td>{{hatchet.bullseye.totalScore}}</td>
        <td colspan="2">Total Score</td>
        <td>{{hatchet.clutch.totalScore}}</td>
      </tr>

      <tr>
        <td>{{hatchet.bullseye.scorePerAxe}}</td>
        <td colspan="2">Score Per Axe</td>
        <td>{{hatchet.clutch.scorePerAxe}}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="4">Big Axe</th>
      </tr>

      <tr>
        <th colspan="2">Bullseye</th>
        <th colspan="2">Clutch</th>
      </tr>

      <tr>
        <td>{{bigAxe.bullseye.attempts}}</td>
        <td colspan="2">Attempts</td>
        <td>{{bigAxe.clutch.attempts}}</td>
      </tr>

      <tr>
        <td>{{bigAxe.bullseye.totalScore}}</td>
        <td colspan="2">Total Score</td>
        <td>{{bigAxe.clutch.totalScore}}</td>
      </tr>

      <tr>
        <td>{{bigAxe.bullseye.scorePerAxe}}</td>
        <td colspan="2">Score Per Axe</td>
        <td>{{bigAxe.clutch.scorePerAxe}}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="4">Combined</th>
      </tr>

      <tr>
        <th colspan="2">Hatchet</th>
        <th colspan="2">Big Axe</th>
      </tr>

      <tr>
        <td>{{hatchet.overall.attempts}}</td>
        <td colspan="2">Attempts</td>
        <td>{{bigAxe.overall.attempts}}</td>
      </tr>

      <tr>
        <td>{{hatchet.overall.totalScore}}</td>
        <td colspan="2">Total Score</td>
        <td>{{bigAxe.overall.totalScore}}</td>
      </tr>

      <tr>
        <td>{{hatchet.overall.scorePerAxe}}</td>
        <td colspan="2">Score Per Axe</td>
        <td>{{bigAxe.overall.scorePerAxe}}</td>
      </tr>
    </tbody>
  </table>
</figure>

{{/stats}}