---

export interface Props {
	matches: any[];
};

const { matches }: Props = Astro.props;

---

<figure>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
</figure>