<figure>
  <table id="matches">
    <thead>
      <tr>
        <th>Season</th>
        <th>Week</th>
        <th>Match</th>
        <th>Opponent</th>
        <th>Score</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      {{#data.matches}}
      <tr>
        <td>{{seasonId}}</td>
        <td>{{weekId}}</td>
        <td>{{matchId}}</td>
        <td>{{opponentId}}</td>
        <td>{{score}}</td>
        <td>{{outcome}}</td>
      </tr>
      {{/data.matches}}
    </tbody>
  </table>
</figure>